@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="breadcrumb mb-0 py-26 bg-main-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">Vendor List</h6>
            <ul class="flex items-center gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="index.html"
                       class="text-gray-900 flex items-center gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i> Home
                    </a>
                </li>
                <li class="flex items-center"><i class="ph ph-caret-right"></i></li>
                <li class="text-sm text-main-600">Vendor List</li>
            </ul>
        </div>
    </div>
</div>
<section class="vendors-list py-80">
    <div class="container container-lg">
        <div class="row g-4">
            <div class="custom-2xl:w-2/12 flex-grow-0 flex-shrink-0 basis-auto 2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto xl:w-4/12 flex-grow-0 flex-shrink-0 basis-auto">
                <div class="shop-sidebar">
                    <button type="button"
                            class="shop-sidebar__close xl:hidden flex w-32 h-32 flex items-center justify-center border border-gray-100 rounded-[50%] hover-bg-main-600 absolute right-0 mr-[10px] mt-8 hover-text-white hover-border-main-600">
                        <i class="ph ph-x"></i>
                    </button>
                    <div class="flex flex-col gap-12 px-lg-0 px-16 py-lg-0 py-24">
                        <div class="vendor-card style-two text-center px-16 pb-24 bg-main-50">
                            <img src="~/images/Demos/vendor-logo2.png" alt="Image" class="vendor-card__logo m-12">
                            <h6 class="title mt-32">Safeway</h6><span class="text-neutral-600 text-sm block font-[600]">New Street, 520, New York</span>
                            <span class="bg-white text-neutral-900 rounded-[50rem] py-6 px-16 text-12 mt-8">
                                Since
                                2009
                            </span>
                            <p class="text-neutral-600 my-24">
                                It's easy and free to link or sign up for our loyalty
                                program, and it only takes a few seconds.
                            </p>
                            <ul class="flex items-center justify-center gap-8 flex-wrap">
                                <li>
                                    <a href="https://www.facebook.com"
                                       class="w-36 h-36 flex items-center justify-center bg-white text-main-600 text-lg rounded-[50%] hover-bg-main-600 hover-text-white">
                                        <i class="ph-fill ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com"
                                       class="w-36 h-36 flex items-center justify-center bg-white text-main-600 text-lg rounded-[50%] hover-bg-main-600 hover-text-white">
                                        <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com"
                                       class="w-36 h-36 flex items-center justify-center bg-white text-main-600 text-lg rounded-[50%] hover-bg-main-600 hover-text-white">
                                        <i class="ph-fill ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com"
                                       class="w-36 h-36 flex items-center justify-center bg-white text-main-600 text-lg rounded-[50%] hover-bg-main-600 hover-text-white">
                                        <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul><a href="contact.html"
                                    class="btn btn-main !rounded-[50rem] py-16 px-32 mt-28 w-full">Contact Seller</a>
                        </div>
                        <div class="border border-gray-50 rounded-8 p-24">
                            <h6 class="text-xl border-b border-gray-100 pb-24 mb-24">Product Category</h6>
                            <ul class="max-h-326 overflow-y-auto scroll-sm">
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Mobile & Accessories (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Laptop (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Electronics (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Smart Watch (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Storage (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Portable Devices (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Action Camera (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Smart Gadget (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Monitor (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Smart TV (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Camera (12)</a>
                                </li>
                                <li class="mb-24">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Monitor Stand (12)</a>
                                </li>
                                <li class="mb-0">
                                    <a href="product-details-two.html"
                                       class="text-gray-900 hover-text-main-600">Headphone (12)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="border border-gray-50 rounded-8 p-24">
                            <h6 class="text-xl border-b border-gray-100 pb-24 mb-24">Filter by Price</h6>
                            <div class="custom--range">
                                <div id="slider-range"></div>
                                <div class="flex-between flex-wrap-reverse gap-8 mt-24">
                                    <button type="button"
                                            class="btn btn-main h-40 flex items-center">
                                        Filter
                                    </button>
                                    <div class="custom--range__content flex items-center gap-8">
                                        <span class="text-gray-500 text-md flex-shrink-0">Price:</span> <input class="custom--range__prices text-neutral-600 text-start text-md font-[500]"
                                                                                                               id="amount" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border border-gray-50 rounded-8 p-24">
                            <h6 class="text-xl border-b border-gray-100 pb-24 mb-24">Filter by Rating</h6>
                            <div class="flex items-center gap-8 relative mb-20">
                                <label class="absolute w-full h-full cursor-pointer" for="rating5"></label>
                                <div class="common-check common-radio !mb-0">
                                    <input class="form-check-input"
                                           type="radio" name="flexRadioDefault" id="rating5">
                                </div>
                                <div class="flex items-center gap-4">
                                    <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                </div><span class="text-gray-900 flex-shrink-0">124</span>
                            </div>
                            <div class="flex items-center gap-8 relative mb-20">
                                <label class="absolute w-full h-full cursor-pointer" for="rating4"></label>
                                <div class="common-check common-radio !mb-0">
                                    <input class="form-check-input"
                                           type="radio" name="flexRadioDefault" id="rating4">
                                </div>
                                <div class="flex items-center gap-4">
                                    <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                </div><span class="text-gray-900 flex-shrink-0">52</span>
                            </div>
                            <div class="flex items-center gap-8 relative mb-20">
                                <label class="absolute w-full h-full cursor-pointer" for="rating3"></label>
                                <div class="common-check common-radio !mb-0">
                                    <input class="form-check-input"
                                           type="radio" name="flexRadioDefault" id="rating3">
                                </div>
                                <div class="flex items-center gap-4">
                                    <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                </div><span class="text-gray-900 flex-shrink-0">12</span>
                            </div>
                            <div class="flex items-center gap-8 relative mb-20">
                                <label class="absolute w-full h-full cursor-pointer" for="rating2"></label>
                                <div class="common-check common-radio !mb-0">
                                    <input class="form-check-input"
                                           type="radio" name="flexRadioDefault" id="rating2">
                                </div>
                                <div class="flex items-center gap-4">
                                    <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                </div><span class="text-gray-900 flex-shrink-0">5</span>
                            </div>
                            <div class="flex items-center gap-8 relative mb-0">
                                <label class="absolute w-full h-full cursor-pointer" for="rating1"></label>
                                <div class="common-check common-radio !mb-0">
                                    <input class="form-check-input"
                                           type="radio" name="flexRadioDefault" id="rating1">
                                </div>
                                <div class="flex items-center gap-4">
                                    <span class="text-xs font-[500] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[500] text-gray-400 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                </div><span class="text-gray-900 flex-shrink-0">2</span>
                            </div>
                        </div>
                        <div class="bg-main-50 rounded-8 p-16 text-center">
                            <span class="text-2xl text-neutral-600 mb-8">Fresh Vegetables</span>
                            <h5 class="text-32 text-main-600">Up to 25% Off</h5>
                            <div class="mt-52"><img src="~/images/Demos/advertiser-img.png" alt="Image"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-2xl:w-10/12 flex-grow-0 flex-shrink-0 basis-auto 2xl:w-9/12 flex-grow-0 flex-shrink-0 basis-auto xl:w-8/12 flex-grow-0 flex-shrink-0 basis-auto">
                <div class="flex-between flex-wrap gap-8 mb-40">
                    <form action="#" class="search-form__wrapper relative block">
                        <input class="search-form__input common-input py-13 ps-16 pe-18 !rounded-[50rem] pe-44"
                               placeholder="Search vendors by name or ID..."> <button type="submit"
                                                                                      class="w-32 h-32 bg-main-600 rounded-[50%] flex items-center justify-center text-xl text-white absolute top-[50%] translate-y-[-50%] right-0 me-8">
                            <i class="ph ph-magnifying-glass"></i>
                        </button>
                    </form>
                    <div class="flex items-center gap-16">
                        <span class="text-neutral-600 font-[500] px-40 py-12 rounded-[50rem] border border-neutral-100 lg:block hidden">
                            Showing
                            1-20 of 85 results
                        </span>
                        <div class="flex items-center gap-8">
                            <span class="text-gray-900 flex-shrink-0">
                                Sort
                                by:
                            </span> <select class="common-input form-select !rounded-[50rem] border border-gray-100 inline-block ps-20 pe-36 h-48 !py-0 font-[500]">
                                <option value="1">Latest</option>
                                <option value="1">Old</option>
                            </select>
                        </div><button type="button"
                                      class="w-44 h-44 xl:hidden flex flex items-center justify-center border border-gray-100 rounded-6 text-2xl sidebar-btn">
                            <i class="ph-bold ph-funnel"></i>
                        </button>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-12">
                    <div class="col" data-aos="fade-up" data-aos-duration="200">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img7.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="400">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img8.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Marcel's Modern Pantry Almond Unsweetened</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="600">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img9.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">O Organics Milk, Whole, Vitamin D</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="800">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-info-600 px-8 py-4 text-sm text-white">
                                Best Sale
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img10.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Whole Grains and Seeds Organic Bread</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="1000">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img11.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Lucerne Yogurt, Lowfat, Strawberry</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="200">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img13.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="400">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img14.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="600">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-warning-600 px-8 py-4 text-sm text-white">New</span>
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img15.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="800">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img16.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Good & Gather Farmed Atlantic Salmon</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="1000">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img17.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">
                                        Market Pantry 41/50 Raw Tail-Off Large Raw
                                        Shrimp
                                    </a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="200">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img7.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="400">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img8.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Marcel's Modern Pantry Almond Unsweetened</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="600">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img9.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">O Organics Milk, Whole, Vitamin D</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="800">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-info-600 px-8 py-4 text-sm text-white">
                                Best Sale
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img10.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Whole Grains and Seeds Organic Bread</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="1000">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img11.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Lucerne Yogurt, Lowfat, Strawberry</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="200">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img13.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="400">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img14.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="600">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-warning-600 px-8 py-4 text-sm text-white">New</span>
                            <a href="product-details.html"
                               class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img15.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">C-500 Antioxidant Protect Dietary Supplement</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="800">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img16.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Good & Gather Farmed Atlantic Salmon</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-duration="1000">
                        <div class="product-card h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2">
                            <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                Sale 50%
                            </span><a href="product-details.html"
                                      class="product-card__thumb flex items-center justify-center">
                                <img src="~/images/Demos/product-img17.png" alt="Image">
                            </a>
                            <div class="product-card__content p-sm-2 w-full">
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">
                                        Market Pantry 41/50 Raw Tail-Off Large Raw
                                        Shrimp
                                    </a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="product-card__content mt-12">
                                    <div class="product-card__price mb-8">
                                        <span class="text-heading text-md font-[600]">
                                            $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                        </span><span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    </div>
                                    <div class="flex items-center gap-6">
                                        <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                            <i class="ph-fill ph-star"></i>
                                        </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                    </div><a href="cart.html"
                                             class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 !rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                        Add
                                        To Cart <i class="ph ph-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination flex items-center justify-center flex-wrap gap-16">
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-xxl rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html"><i class="ph-bold ph-arrow-left"></i></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">01</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">02</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">03</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">04</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">05</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">06</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-md rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html">07</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-64 w-64 flex items-center justify-center text-xxl rounded-[50%] font-[500] text-neutral-600 border border-gray-100"
                           href="index.html"><i class="ph-bold ph-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="shipping mb-80" id="shipping">
    <div class="container container-lg">
        <div class="row g-4">
            <div class="custom-2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12" data-aos="zoom-in"
                 data-aos-duration="400">
                <div class="shipping-item flex items-center gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-32 flex-shrink-0">
                        <i class="ph-fill ph-car-profile"></i>
                    </span>
                    <div class="">
                        <h6 class="mb-0">Free Shipping</h6><span class="text-sm text-heading">
                            Free shipping all over
                            the US
                        </span>
                    </div>
                </div>
            </div>
            <div class="custom-2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12" data-aos="zoom-in"
                 data-aos-duration="600">
                <div class="shipping-item flex items-center gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-32 flex-shrink-0">
                        <i class="ph-fill ph-hand-heart"></i>
                    </span>
                    <div class="">
                        <h6 class="mb-0">100% Satisfaction</h6><span class="text-sm text-heading">
                            Free shipping all
                            over the US
                        </span>
                    </div>
                </div>
            </div>
            <div class="custom-2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12" data-aos="zoom-in"
                 data-aos-duration="800">
                <div class="shipping-item flex items-center gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-32 flex-shrink-0">
                        <i class="ph-fill ph-credit-card"></i>
                    </span>
                    <div class="">
                        <h6 class="mb-0">Secure Payments</h6><span class="text-sm text-heading">
                            Free shipping all
                            over the US
                        </span>
                    </div>
                </div>
            </div>
            <div class="custom-2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12" data-aos="zoom-in"
                 data-aos-duration="1000">
                <div class="shipping-item flex items-center gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-32 flex-shrink-0">
                        <i class="ph-fill ph-chats"></i>
                    </span>
                    <div class="">
                        <h6 class="mb-0">24/7 Support</h6><span class="text-sm text-heading">
                            Free shipping all over
                            the US
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="newsletter">
    <div class="container container-lg">
        <div class="newsletter-box relative rounded-16 flex items-center gap-16 flex-wrap z-[1]">
            <img src="~/images/Demos/newsletter-bg.png" alt="Image"
                 class="absolute inset-block-start-0 inset-inline-start-0 z-[-1] w-full h-full opacity-6">
            <div class="row items-center">
                <div class="2xl:w-6/12 flex-grow-0 flex-shrink-0 basis-auto">
                    <div class="">
                        <h1 class="text-white mb-12" data-aos="fade-down" data-aos-duration="800">
                            Don't Miss Out on
                            Grocery Deals
                        </h1>
                        <p class="text-white h5 mb-0" data-aos="fade-up" data-aos-duration="800">
                            SING UP FOR THE
                            UPDATE NEWSLETTER
                        </p>
                        <form action="#" class="relative mt-40" data-aos="zoom-in" data-aos-duration="800">
                            <input class="form-control block w-full p-[0.375rem_0.75rem] text-base leading-6 placeholder:text-[#495057] bg-white bg-clip-padding border border-[#ced4da] transition-all duration-150 ease-in-out focus:text-[#495057] focus:bg-white focus:border-main focus:outline-0 focus:shadow-none common-input !rounded-[50rem] text-white py-22 px-16 pe-144"
                                   placeholder="Email của bạn..."> <button type="submit"
                                                                                class="btn btn-main-two !rounded-[50rem] !absolute top-[50%] translate-y-[-50%] right-0 mr-[10px]">
                                Theo dõi
                            </button>
                        </form>
                    </div>
                </div>
                <div class="2xl:w-6/12 flex-grow-0 flex-shrink-0 basis-auto text-center xl:block hidden">
                    <img src="~/images/Demos/newsletter-img.png" alt="Image" data-aos="zoom-in" data-aos-duration="800">
                </div>
            </div>
        </div>
    </div>
</div>