## Build
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/

## Publish
publish/

## Test
TestResults/

## Logs
*.[Ll]og/
*.[Ll]ogs/

## Node
node_modules/

## Secrets (nếu có)
appsettings.Development.json
/Website/Logs
