@model string
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<section class="content p-2">
    <div class="error-page" style="width: 100%;">
        <div class="error-content" style="margin-left: 0;">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i><localize>ErrorText</localize></h3>

            <p>
                @ViewBag.ErrorMessage  <a href="/admin/auth/login" class="btn btn-primary mt-xl float-right">LoginText</a>.
            </p>
        </div>
    </div>
</section>
