@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<section class="content">
    <div class="error-page" style="width: 100%;">
        <div class="error-content ml-2 mr-2">
            <h3 style="color: green;"><i class="icon fas fa-check"></i> <b >VerifyFogotPasswordTitleText</b></h3>
            <p>
                <localize>VerifyFogotPasswordContentText</localize> <br />
                <a href="https://mail.google.com/" class="btn btn-primary mt-xl"><localize>GotoEmailText</localize></a>
                <a href="/admin/auth/login" class="btn btn-primary mt-xl float-right">LoginText</a>
            </p>
        </div>
    </div>
</section>