@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<section class="content">
    <div class="ml-2 mr-2">
        <div class="error-content">
            <h3 style="color: green;"><i class="icon fas fa-check"></i> <b >RegisterConfirmTitleText</b></h3>
            <p>
                <localize>RegisterConfirmContent1Text</localize>
            </p>
            <div class="d-flex justify-content-between mb-2">
                <a href="/admin/auth/login" class="btn btn-primary">LoginText</a>
                <a href="https://mail.google.com/" class="btn btn-primary" >RegisterConfirmContent2Text</a>
            </div>
        </div>
    </div>
</section>