@using Website.Areas.Admin.Models
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<section class="content">
    <div class="error-page" style="width: 100%;">
        <div class="error-content" style="margin-left: 20px;">
            <h3 style="color: green;"><i class="icon fas fa-check"></i> <b >ResetPasswordText</b></h3>
            <p>
                <localize>ResetPasswordSuccessText</localize><br /> <a href="/admin/auth/login">LoginText</a>
            </p>
        </div>
    </div>
</section>
