@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="breadcrumb mb-0 py-26 bg-main-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">Checkout</h6>
            <ul class="flex items-center gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="index.html"
                       class="text-gray-900 flex items-center gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i> Home
                    </a>
                </li>
                <li class="flex items-center"><i class="ph ph-caret-right"></i></li>
                <li class="text-sm text-main-600">Checkout</li>
            </ul>
        </div>
    </div>
</div>
<section class="checkout py-80">
    <div class="container container-lg">
        <div class="border border-gray-100 rounded-8 px-30 py-20 mb-40">
            <span class="">
                Have a coupon? <a href="cart.html"
                                  class="font-[600] text-gray-900 hover-text-decoration-underline hover-text-main-600">
                    Click here
                    to enter your code
                </a>
            </span>
        </div>
        <div class="row">
            <div class="2xl:w-9/12 flex-grow-0 flex-shrink-0 basis-auto xl:w-8/12">
                <form action="#" class="pe-xl-5">
                    <div class="row g-3">
                        <div class="md:w-6/12 flex-grow-0 flex-shrink-0 basis-auto custom-sm:w-6/12">
                            <input class="common-input border-gray-100" placeholder="First Name">
                        </div>
                        <div class="md:w-6/12 flex-grow-0 flex-shrink-0 basis-auto custom-sm:w-6/12">
                            <input class="common-input border-gray-100" placeholder="Last Name">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100" placeholder="Business Name">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100" placeholder="United states (US)">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100" placeholder="House number and street name">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100"
                                   placeholder="Apartment, suite, unit, etc. (Optional)">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100" placeholder="City">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100" placeholder="Sans Fransisco">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input class="common-input border-gray-100" placeholder="Post Code">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input type="number"
                                   class="common-input border-gray-100" placeholder="Phone">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <input type="email"
                                   class="common-input border-gray-100" placeholder="Email Address">
                        </div>
                        <div class="w-full flex-grow-0 flex-shrink-0 basis-auto">
                            <div class="my-40">
                                <h6 class="text-lg mb-24">Additional Information</h6><input class="common-input border-gray-100"
                                                                                            placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto xl:w-4/12">
                <div class="checkout-sidebar">
                    <div class="bg-color-three rounded-8 p-24 text-center">
                        <span class="text-gray-900 text-xl font-[600]">Your Orders</span>
                    </div>
                    <div class="border border-gray-100 rounded-8 px-24 py-40 mt-24">
                        <div class="mb-32 pb-32 border-b border-gray-100 flex-between gap-8">
                            <span class="text-gray-900 font-[500] text-xl font-heading-two">Product</span> <span class="text-gray-900 font-[500] text-xl font-heading-two">Subtotal</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex items-center gap-12">
                                <span class="text-gray-900 font-normal text-md font-heading-two w-144">
                                    HP Chromebook
                                    With Intel Celeron
                                </span> <span class="text-gray-900 font-normal text-md font-heading-two">
                                    <i class="ph-bold ph-x"></i>
                                </span> <span class="text-gray-900 font-[600] text-md font-heading-two">1</span>
                            </div><span class="text-gray-900 font-[700] text-md font-heading-two">$250.00</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex items-center gap-12">
                                <span class="text-gray-900 font-normal text-md font-heading-two w-144">
                                    HP Chromebook
                                    With Intel Celeron
                                </span> <span class="text-gray-900 font-normal text-md font-heading-two">
                                    <i class="ph-bold ph-x"></i>
                                </span> <span class="text-gray-900 font-[600] text-md font-heading-two">1</span>
                            </div><span class="text-gray-900 font-[700] text-md font-heading-two">$250.00</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex items-center gap-12">
                                <span class="text-gray-900 font-normal text-md font-heading-two w-144">
                                    HP Chromebook
                                    With Intel Celeron
                                </span> <span class="text-gray-900 font-normal text-md font-heading-two">
                                    <i class="ph-bold ph-x"></i>
                                </span> <span class="text-gray-900 font-[600] text-md font-heading-two">1</span>
                            </div><span class="text-gray-900 font-[700] text-md font-heading-two">$250.00</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex items-center gap-12">
                                <span class="text-gray-900 font-normal text-md font-heading-two w-144">
                                    HP Chromebook
                                    With Intel Celeron
                                </span> <span class="text-gray-900 font-normal text-md font-heading-two">
                                    <i class="ph-bold ph-x"></i>
                                </span> <span class="text-gray-900 font-[600] text-md font-heading-two">1</span>
                            </div><span class="text-gray-900 font-[700] text-md font-heading-two">$250.00</span>
                        </div>
                        <div class="border-t border-gray-100 pt-30 mt-30">
                            <div class="mb-32 flex-between gap-8">
                                <span class="text-gray-900 font-heading-two text-xl font-[600]">Subtotal</span> <span class="text-gray-900 font-heading-two text-md font-[700]">$859.00</span>
                            </div>
                            <div class="mb-0 flex-between gap-8">
                                <span class="text-gray-900 font-heading-two text-xl font-[600]">Total</span> <span class="text-gray-900 font-heading-two text-md font-[700]">$859.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-32">
                        <div class="payment-item">
                            <div class="form-check common-check common-radio py-16 mb-0">
                                <input class="form-check-input" type="radio" name="payment" id="payment1"
                                       checked="checked"> <label class="form-check-label font-[600] text-neutral-600"
                                                                 for="payment1">Direct Bank transfer</label>
                            </div>
                            <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 relative">
                                <p class="text-gray-800">
                                    Make your payment directly into our bank account. Please
                                    use your Order ID as the payment reference. Your order will not be shipped until
                                    the funds have cleared in our account.
                                </p>
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="form-check common-check common-radio py-16 mb-0">
                                <input class="form-check-input" type="radio" name="payment" id="payment2"> <label class="form-check-label font-[600] text-neutral-600" for="payment2">
                                    Check
                                    payments
                                </label>
                            </div>
                            <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 relative">
                                <p class="text-gray-800">
                                    Make your payment directly into our bank account. Please
                                    use your Order ID as the payment reference. Your order will not be shipped until
                                    the funds have cleared in our account.
                                </p>
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="form-check common-check common-radio py-16 mb-0">
                                <input class="form-check-input" type="radio" name="payment" id="payment3"> <label class="form-check-label font-[600] text-neutral-600" for="payment3">
                                    Cash on
                                    delivery
                                </label>
                            </div>
                            <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 relative">
                                <p class="text-gray-800">
                                    Make your payment directly into our bank account. Please
                                    use your Order ID as the payment reference. Your order will not be shipped until
                                    the funds have cleared in our account.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-32 pt-32 border-t border-gray-100">
                        <p class="text-gray-500">
                            Your personal data will be used to process your order, support your
                            experience throughout this website, and for other purposes described in our <a href="index.html" class="text-main-600 text-decoration-underline">privacy policy</a>
                            .
                        </p>
                    </div><a href="checkout.html"
                             class="btn btn-main mt-40 py-18 w-full rounded-8 mt-56 text-center">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</section>