@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <style>
        .btn-oauth {
            height: 56px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            border: 1px solid #E5E7EB;
            border-radius: 12px;
            background: #fff;
            color: #374151;
            font-size: 15px;
            font-weight: 600;
            transition: .25s ease;
        }

            .btn-oauth img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }

            .btn-oauth:hover {
                background: #F8F9FA;
                border-color: var(--main-600);
                color: var(--main-600);
                transform: translateY(-2px);
                box-shadow: 0 10px 25px rgba(0,0,0,.08);
            }
    </style>
}

<div class="breadcrumb mb-0 py-26 bg-main-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">My Account</h6>
            <ul class="flex items-center gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="index.html"
                       class="text-gray-900 flex items-center gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i> Home
                    </a>
                </li>
                <li class="flex items-center"><i class="ph ph-caret-right"></i></li>
                <li class="text-sm text-main-600">Account</li>
            </ul>
        </div>
    </div>
</div>
@* <section class="account py-80">
    <div class="container container-lg">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">
                <div class="row g-0 rounded-24 overflow-hidden border border-gray-100 account-card">
                    <div class="col-lg-4 bg-white mx-auto">
                        <div class="px-40 py-48">
                            <span class="text-main-600 text-sm font-[600] mb-12 block">
                                Welcome Back 👋
                            </span>
                            <h3 class="mb-12">
                                Đăng nhập tài khoản
                            </h3>
                            <p class="text-gray-500 mb-40">
                                Đăng nhập để theo dõi đơn hàng, quản lý địa chỉ giao hàng và nhận ưu đãi thành viên.
                            </p>
                            <form asp-controller="Auth" asp-action="Login">
                                <div class="mb-24">
                                    <label class="text-neutral-900 text-lg mb-8 font-[500]">
                                        Email hoặc tên đăng nhập
                                    </label>

                                    <input class="common-input" placeholder="Nhập email hoặc tên đăng nhập">
                                </div>
                                <div class="mb-20">
                                    <label class="text-neutral-900 text-lg mb-8 font-[500]">
                                        Mật khẩu
                                    </label>
                                    <div class="position-relative">
                                        <input type="password"
                                               class="common-input"
                                               placeholder="Nhập mật khẩu">

                                        <span class="toggle-password ph ph-eye-slash"></span>
                                    </div>
                                </div>
                                <div class="flex-between mb-32 flex-wrap gap-12">
                                    <div class="form-check common-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="remember">
                                        <label class="form-check-label"
                                               for="remember">
                                            Ghi nhớ đăng nhập
                                        </label>
                                    </div>
                                    <a asp-controller="Account" asp-action="ForgotPassword"
                                       class="text-main-600 text-sm font-[500]">
                                        Quên mật khẩu?
                                    </a>
                                </div>
                                <button type="submit"
                                        class="btn btn-main py-18 w-100">
                                    Đăng nhập
                                </button>
                            </form>
                            <div class="text-center mt-32">
                                <span class="text-gray-500">
                                    Chưa có tài khoản?
                                </span>
                                <a asp-controller="Account" asp-action="Register"
                                   class="text-main-600 font-[600] ms-4">
                                    Đăng ký ngay
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 *@
<section class="account py-80">
    <div class="container container-lg">
        <form action="#">
            <div class="row g-4">
                <div class="2xl:w-6/12 flex-grow-0 flex-shrink-0 basis-auto pe-xl-5">
                    <div class="border border-gray-100 hover-border-main-600 transition-1 rounded-16 px-24 py-40 h-full">
                        <span class="text-main-600 text-sm font-[600] mb-12 block">
                            Welcome Back 👋
                        </span>
                        <h3 class="mb-12">
                            Đăng nhập tài khoản
                        </h3>
                        <p class="text-gray-500 mb-40">
                            Đăng nhập để theo dõi đơn hàng, quản lý địa chỉ giao hàng và nhận ưu đãi thành viên.
                        </p>
                        <div class="mb-24">
                            <label for="username"
                                   class="text-neutral-900 text-lg mb-8 font-[500]">
                                Username or email address <span class="text-danger">*</span>
                            </label> <input class="common-input" id="username"
                                            placeholder="First Name">
                        </div>
                        <div class="mb-24">
                            <label for="password"
                                   class="text-neutral-900 text-lg mb-8 font-[500]">Password</label>
                            <div class="relative">
                                <input type="password" class="common-input" id="password"
                                       placeholder="Enter Password" value="password"> <span class="toggle-password absolute top-[50%] right-0 me-16 translate-y-[-50%] cursor-pointer ph ph-eye-slash"
                                                                                            id="#password"></span>
                            </div>
                        </div>
                        <div class="mb-24 mt-48">
                            <div class="flex items-center flex-wrap gap-24">

                                <!-- Group 1 -->
                                <button type="submit" class="btn btn-main py-18 px-40">
                                    Log in
                                </button>

                                <!-- Group 2 -->
                                <div class="form-check common-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label flex-grow" for="remember">
                                        Remember me
                                    </label>
                                </div>

                                <!-- Group 3 -->
                                <div class="ms-auto">
                                    <a asp-controller="Account"
                                       asp-action="ForgotPassword"
                                       class="text-main-600 text-sm font-[500]">
                                        Quên mật khẩu?
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="text-center mt-32">
                            <span class="text-gray-500">
                                Chưa có tài khoản?
                            </span>
                            <a asp-controller="Account" asp-action="Register"
                               class="text-main-600 font-[600] ms-4">
                                Đăng ký ngay
                            </a>
                        </div>
                        <div class="hr-or">
                            <span class="text-center">Đăng nhập chỉ 1 giây</span>
                        </div>
                        <div class="row g-3 mt-8">

                            <div class="col-md-6">
                                <form asp-action="ExternalLogin" method="post">
                                    <button type="submit"
                                            name="provider"
                                            value="Google"
                                            class="btn btn-oauth oauth-google w-100">

                                        <img src="~/images/Default/icon/icon-google.png"
                                             alt="Google">

                                        <span>Tiếp tục với Google</span>

                                    </button>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <form asp-action="ExternalLogin" method="post">
                                    <button type="submit"
                                            name="provider"
                                            value="Facebook"
                                            class="btn btn-oauth oauth-facebook w-100">

                                        <img src="~/images/Default/icon/icon-fb.png"
                                             alt="Facebook">

                                        <span>Tiếp tục với Facebook</span>

                                    </button>
                                </form>
                            </div>

                        </div>
                      
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>