@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="mobile-menu scroll-sm xl:hidden block">
    <button type="button" class="close-button">
        <i class="ph ph-x"></i>
    </button>
    <div class="mobile-menu__inner">
        <a asp-controller="Home" asp-action="" class="mobile-menu__logo text-center">
           <img width="150" src="~/images/Default/logo-caterin.png" alt="Logo thương hiệu Caterin">
        </a>
        <div class="mobile-menu__menu">
            <ul class="nav-menu flex items-center nav-menu--mobile">
                <li class="on-hover-item nav-menu__item has-submenu activePage">
                    <a href="javascript:void(0)"
                       class="nav-menu__link">Home</a>
                    <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                        <li class="common-dropdown__item nav-submenu__item activePage">
                            <a href="index.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Home
                                Grocery
                            </a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="index-two.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Home
                                Electronics
                            </a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="index-three.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Home
                                Fashion
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="on-hover-item nav-menu__item has-submenu">
                    <a href="javascript:void(0)"
                       class="nav-menu__link">Shop</a>
                    <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="shop.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Shop</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="product-details.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Shop
                                Details
                            </a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="product-details-two.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Shop Details
                                Two
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="on-hover-item nav-menu__item has-submenu">
                    <span class="badge-notification bg-warning-600 text-white text-sm py-2 px-8 rounded-4">New</span>
                    <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
                    <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="cart.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Cart</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="wishlist.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Wishlist</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="checkout.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Checkout</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="become-seller.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Become
                                Seller
                            </a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a asp-controller="Account" asp-action="Login"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Account</a>
                        </li>
                    </ul>
                </li>
                <li class="on-hover-item nav-menu__item has-submenu">
                    <span class="badge-notification bg-tertiary-600 text-white text-sm py-2 px-8 rounded-4">New</span>
                    <a href="javascript:void(0)" class="nav-menu__link">Vendors</a>
                    <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="vendor.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Vendors</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="vendor-details.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Vendor
                                Details
                            </a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="vendor-two.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Vendors Two</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="vendor-two-details.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Vendors Two
                                Details
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="on-hover-item nav-menu__item has-submenu">
                    <a href="javascript:void(0)"
                       class="nav-menu__link">Blog</a>
                    <ul class="on-hover-dropdown common-dropdown nav-submenu scroll-sm">
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="blog.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">Blog</a>
                        </li>
                        <li class="common-dropdown__item nav-submenu__item">
                            <a href="blog-details.html"
                               class="common-dropdown__link nav-submenu__link hover-bg-neutral-100">
                                Blog
                                Details
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-menu__item"><a href="contact.html" class="nav-menu__link">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>