@{
    Layout = null;
}

<div id="modalContainer" class="modal fade">
    <div class="modal-dialog">
        <div id="modalContent" class="modal-content">
        </div>
    </div>
</div>
<div id="modalContainerChild" class="modal fade modalChild">
    <div class="modal-dialog">
        <div id="modalContentChild" class="modal-content">
        </div>
    </div>
</div>