@{
    ViewData["Title"] = "Thông tin tài khoản";

    var url = ViewBag.Tab switch
    {
        "orders" => "orders",
        "addresses" => "addresses",
        "password" => "change-password",
        _ => "personal-info"
    };
}

@section Styles{
    <style>
        .account-menu {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 16px 24px;
            color: #555;
            transition: .25s;
        }

            .account-menu:hover {
                background: #F7F8FA;
                color: var(--main-600);
            }

            .account-menu.active {
                background: #EEF9F0;
                color: var(--main-600);
                font-weight: 600;
                border-left: 3px solid var(--main-600);
            }

            .account-menu i {
                font-size: 20px;
                width: 22px;
            }
    </style>
}
<section class="account py-80">
    <div class="container container-lg">
        <div class="row g-4">
            <partial name="_ProfileSidebar" />
            <div id="profile-content"
                 hx-get="/profile/@url" hx-trigger="load" 
                 class="2xl:w-9/12 xl:w-8/12 flex-grow-0 flex-shrink-0 basis-auto">
            </div>
        </div>

    </div>

</section>

@section Scripts {
    <script>
            document.body.addEventListener("htmx:afterRequest", function (e) {
            const url = new URL(window.location.href);
            const currentTab = url.searchParams.get("tab") || "personal";

            document.querySelectorAll("[data-tab]").forEach(el => {
                el.classList.toggle("active", el.dataset.tab === currentTab);
            });
        });
    </script>
}