@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<section class="flash-sales pt-80 pb-80 overflow-hidden">
    <div class="container container-lg">

        <div class="section-heading">
            <div class="flex-between flex-wrap gap-8">
                <h5 class="mb-0">Voucher nổi bật</h5>
                <div class="flex items-center gap-8">
                    <button type="button" id="flash-prev"
                            class="slick-prev slick-arrow flex items-center justify-center rounded-[50%] border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1">
                        <i class="ph ph-caret-left"></i>
                    </button>
                    <button type="button" id="flash-next"
                            class="slick-next slick-arrow flex items-center justify-center rounded-[50%] border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1">
                        <i class="ph ph-caret-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="flash-sales__slider arrow-style-two">
            <!-- Voucher -->
            <div class="px-2">
                <div class="voucher-item">
                    <div class="voucher-left">
                        <div class="voucher-top">
                            <span class="voucher-tag">VOUCHER</span>
                            <span class="voucher-code">
                                Mã: <strong>F1SHOES</strong>
                            </span>
                        </div>
                        <h2 class="voucher-title">
                            Giảm <span>10%</span>
                        </h2>
                        <ul class="voucher-rule">
                            <li>HD: 30.07.2026</li>
                        </ul>
                        <div class="voucher-bottom">
                            <a href="#" class="voucher-condition xl:block hidden">
                                Điều kiện áp dụng
                            </a>
                            <button class="voucher-copy">
                                SAO CHÉP MÃ
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Voucher -->
            <div class="px-2">
                <div class="voucher-item">
                    <div class="voucher-left">
                        <div class="voucher-top">
                            <span class="voucher-tag">VOUCHER</span>
                            <span class="voucher-code">
                                Mã: <strong>F1SHOES</strong>
                            </span>
                        </div>
                        <h2 class="voucher-title">
                            Giảm <span>10%</span>
                        </h2>
                        <ul class="voucher-rule">
                            <li>HD: 30.07.2026</li>
                        </ul>
                        <div class="voucher-bottom">
                            <a href="#" class="voucher-condition xl:block hidden">
                                Điều kiện áp dụng
                            </a>
                            <button class="voucher-copy">
                                SAO CHÉP MÃ
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Voucher -->
            <div class="px-2">
                <div class="voucher-item">
                    <div class="voucher-left">
                        <div class="voucher-top">
                            <span class="voucher-tag">VOUCHER</span>
                            <span class="voucher-code">
                                Mã: <strong>F1SHOES</strong>
                            </span>
                        </div>
                        <h2 class="voucher-title">
                            Giảm <span>10%</span>
                        </h2>
                        <ul class="voucher-rule">
                            <li>HD: 30.07.2026</li>
                        </ul>
                        <div class="voucher-bottom">
                            <a href="#" class="voucher-condition xl:block hidden">
                                Điều kiện áp dụng
                            </a>
                            <button class="voucher-copy">
                                SAO CHÉP MÃ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>