@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<section id="flash-sale" class="best sells pb-80">
    <div class="container container-lg">
        <div class="section-heading">
            <div class="flex-between flex-wrap gap-8">
                <h5 class="mb-0 wow bounceInLeft">Flash sales</h5>
            </div>
        </div>
        <div class="row g-12">
            <div class="flex-grow-0 flex-shrink-0 basis-auto" data-aos="zoom-in"
                 data-aos-duration="600">
                <div class="relative rounded-16 bg-light-purple overflow-hidden p-28 z-[1] text-center">
                    <div class="">
                        <img src="~/images/Default/Banner/banner1-big.webp" alt="Image"
                             class="absolute inset-block-start-0 inset-inline-start-0 z-[-1] w-full h-full cover-img">
                        <div class="custom-2xl:block hidden">
                            <img src="~/images/Default/Banner/banner1-small.webp" alt="Image">
                        </div>
                    </div>
                    <div class="2xl:py-[1.5rem]">
                        <h4 class="mb-8">Special Snacks</h4>
                        <div class="countdown my-32" id="countdown5">
                            <ul class="countdown-list style-two flex items-center justify-center flex-wrap">
                                <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500] colon-white">
                                    <span class="days"></span>Days
                                </li>
                                <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500] colon-white">
                                    <span class="hours"></span>Hours
                                </li>
                                <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500] colon-white">
                                    <span class="minutes"></span>Min
                                </li>
                                <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500] colon-white">
                                    <span class="seconds"></span>Sec
                                </li>
                            </ul>
                        </div><a href="shop.html"
                                 class="mt-16 btn btn-main-two font-[500] inline-flex items-center rounded-[50rem] gap-8"
                                 tabindex="0">
                            Shop Now <span class="icon text-xl flex">
                                <i class="ph ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-grow-0 flex-shrink-0 basis-auto">
                <div class="row g-4">
                    <div class="lg:w-6/12 flex-grow-0 flex-shrink-0 basis-auto" data-aos="fade-up"
                         data-aos-duration="200">
                        <div class="product-card style-two h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2 flex items-center gap-16">
                            <div class="">
                                <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                    Sale 50%
                                </span><a href="product-details.html"
                                          class="product-card__thumb flex items-center justify-center">
                                    <img src="~/images/Demos/best-sell1.png" alt="Image">
                                </a>
                                <div class="countdown" id="countdown6">
                                    <ul class="countdown-list style-three flex items-center flex-wrap">
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="days"></span>Days
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="hours"></span>Hours
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="minutes"></span>Min
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="seconds"></span>Sec
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-card__content">
                                <div class="product-card__price mb-16">
                                    <span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    <span class="text-heading text-md font-[600]">
                                        $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                    </span>
                                </div>
                                <div class="flex items-center gap-6">
                                    <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                </div>
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="mt-12">
                                    <div class="progress w-full bg-color-three rounded-[50rem] h-4"
                                         role="progressbar" aria-label="Basic example" aria-valuenow="35"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-[50rem]" style="width:35%">
                                        </div>
                                    </div><span class="text-gray-900 text-xs font-[500] mt-8">Sold: 18/35</span>
                                </div><a href="cart.html"
                                         class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                    Thêm giỏ hàng
                                    <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-6/12 flex-grow-0 flex-shrink-0 basis-auto" data-aos="fade-up"
                         data-aos-duration="400">
                        <div class="product-card style-two h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2 flex items-center gap-16">
                            <div class="">
                                <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                    Sale 50%
                                </span><a href="product-details.html"
                                          class="product-card__thumb flex items-center justify-center">
                                    <img src="~/images/Demos/best-sell2.png" alt="Image">
                                </a>
                                <div class="countdown" id="countdown7">
                                    <ul class="countdown-list style-three flex items-center flex-wrap">
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="days"></span>Days
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="hours"></span>Hours
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="minutes"></span>Min
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="seconds"></span>Sec
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-card__content">
                                <div class="product-card__price mb-16">
                                    <span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    <span class="text-heading text-md font-[600]">
                                        $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                    </span>
                                </div>
                                <div class="flex items-center gap-6">
                                    <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                </div>
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="mt-12">
                                    <div class="progress w-full bg-color-three rounded-[50rem] h-4"
                                         role="progressbar" aria-label="Basic example" aria-valuenow="35"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-[50rem]" style="width:35%">
                                        </div>
                                    </div><span class="text-gray-900 text-xs font-[500] mt-8">Sold: 18/35</span>
                                </div><a href="cart.html"
                                         class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                    Thêm giỏ hàng
                                    <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-6/12 flex-grow-0 flex-shrink-0 basis-auto" data-aos="fade-up"
                         data-aos-duration="200">
                        <div class="product-card style-two h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2 flex items-center gap-16">
                            <div class="">
                                <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                    Sale 50%
                                </span><a href="product-details.html"
                                          class="product-card__thumb flex items-center justify-center">
                                    <img src="~/images/Demos/best-sell3.png" alt="Image">
                                </a>
                                <div class="countdown" id="countdown8">
                                    <ul class="countdown-list style-three flex items-center flex-wrap">
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="days"></span>Days
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="hours"></span>Hours
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="minutes"></span>Min
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="seconds"></span>Sec
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-card__content">
                                <div class="product-card__price mb-16">
                                    <span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    <span class="text-heading text-md font-[600]">
                                        $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                    </span>
                                </div>
                                <div class="flex items-center gap-6">
                                    <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                </div>
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="mt-12">
                                    <div class="progress w-full bg-color-three rounded-[50rem] h-4"
                                         role="progressbar" aria-label="Basic example" aria-valuenow="35"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-[50rem]" style="width:35%">
                                        </div>
                                    </div><span class="text-gray-900 text-xs font-[500] mt-8">Sold: 18/35</span>
                                </div><a href="cart.html"
                                         class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                    Thêm giỏ hàng
                                    <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-6/12 flex-grow-0 flex-shrink-0 basis-auto" data-aos="fade-up"
                         data-aos-duration="400">
                        <div class="product-card style-two h-full p-8 border border-gray-100 hover-border-main-600 rounded-16 relative transition-2 flex items-center gap-16">
                            <div class="">
                                <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white">
                                    Sale 50%
                                </span><a href="product-details.html"
                                          class="product-card__thumb flex items-center justify-center">
                                    <img src="~/images/Demos/best-sell4.png" alt="Image">
                                </a>
                                <div class="countdown" id="countdown9">
                                    <ul class="countdown-list style-three flex items-center flex-wrap">
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="days"></span>Days
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="hours"></span>Hours
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="minutes"></span>Min
                                        </li>
                                        <li class="countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]">
                                            <span class="seconds"></span>Sec
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-card__content">
                                <div class="product-card__price mb-16">
                                    <span class="text-gray-400 text-md font-[600] text-decoration-line-through">$28.99</span>
                                    <span class="text-heading text-md font-[600]">
                                        $14.99 <span class="text-gray-500 font-normal">/Qty</span>
                                    </span>
                                </div>
                                <div class="flex items-center gap-6">
                                    <span class="text-xs font-[700] text-gray-600">4.8</span> <span class="text-15 font-[700] text-warning-600 flex">
                                        <i class="ph-fill ph-star"></i>
                                    </span> <span class="text-xs font-[700] text-gray-600">(17k)</span>
                                </div>
                                <h6 class="title text-lg font-[600] mt-12 mb-8">
                                    <a href="product-details.html"
                                       class="link text-line-2">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex items-center gap-4">
                                    <span class="text-main-600 text-md flex">
                                        <i class="ph-fill ph-storefront"></i>
                                    </span> <span class="text-gray-500 text-xs">By Lucky Supermarket</span>
                                </div>
                                <div class="mt-12">
                                    <div class="progress w-full bg-color-three rounded-[50rem] h-4"
                                         role="progressbar" aria-label="Basic example" aria-valuenow="35"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-main-600 rounded-[50rem]" style="width:35%">
                                        </div>
                                    </div><span class="text-gray-900 text-xs font-[500] mt-8">Sold: 18/35</span>
                                </div><a href="cart.html"
                                         class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center">
                                    Thêm giỏ hàng
                                    <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>