@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<section class="promotional-banner pt-80">
    <div class="container container-lg">
        <div class="row g-4">
            <div class="2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 flex-grow-0 flex-shrink-0 basis-auto custom-sm:w-6/12 wow bounceIn"
                 data-aos="fade-up" data-aos-duration="400">
                <div class="promotional-banner-item relative rounded-24 overflow-hidden z-[1]">
                    <img src="~/images/Demos/promotional-banner-img1.png" alt="Image"
                         class="absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]">
                    <div class="promotional-banner-item__content">
                        <h6 class="promotional-banner-item__title text-32">An Toàn Cho Mọi Nhà</h6><a href="shop.html"
                                                                                                      class="btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24">
                            Khám phá ngay <span class="icon text-xl flex"><i class="ph ph-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 flex-grow-0 flex-shrink-0 basis-auto custom-sm:w-6/12 wow bounceIn"
                 data-aos="fade-up" data-aos-duration="600">
                <div class="promotional-banner-item relative rounded-24 overflow-hidden z-[1]">
                    <img src="~/images/Demos/promotional-banner-img2.png" alt="Image"
                         class="absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]">
                    <div class="promotional-banner-item__content">
                        <h6 class="promotional-banner-item__title text-32">Làm Sạch Hiệu Quả - Dịu Nhẹ Với Đôi Tay</h6>

                    </div>
                </div>
            </div>
            <div class="2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 flex-grow-0 flex-shrink-0 basis-auto custom-sm:w-6/12 wow bounceIn"
                 data-aos="fade-up" data-aos-duration="800">
                <div class="promotional-banner-item relative rounded-24 overflow-hidden z-[1]">
                    <img src="~/images/Demos/promotional-banner-img3.png" alt="Image"
                         class="absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]">
                    <div class="promotional-banner-item__content">
                        <h6 class="promotional-banner-item__title text-32">Ưu Đãi Tháng Này</h6>
                        <span>Giảm đến 30% cho nhiều sản phẩm Caterin</span>
                    </div>
                </div>
            </div>
            <div class="2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 flex-grow-0 flex-shrink-0 basis-auto custom-sm:w-6/12 wow bounceIn"
                 data-aos="fade-up" data-aos-duration="1000">
                <div class="promotional-banner-item relative rounded-24 overflow-hidden z-[1]">
                    <img src="~/images/Demos/promotional-banner-img4.png" alt="Image"
                         class="absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]">
                    <div class="promotional-banner-item__content">
                        <h6 class="promotional-banner-item__title text-32">
                            Chăm Sóc Ngôi Nhà
                            Bắt đầu từ những điều nhỏ nhất.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>